body {
    background-color: #FFFAE9;
    font-family: "Poppins", sans-serif;
    color: #2e2e2e;
  }

  /* -----------------------------------
   HERO SECTION
----------------------------------- */
.hero-section {
    height: 95vh;
    padding-top: 120px;
    color: white;
  
    background:
      linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),
      url('https://greencanyonleisurefarms.com/wp-content/uploads/2025/07/GreenCanyon-206-v2-scaled.jpg');
  
    background-size: cover;
    background-position: center;
  }
  
  .hero-title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .hero-subtitle {
    font-size: 2.5rem;
    font-weight: 500;
    opacity: 0.9;
  }
  hr {
    border: 0;
    border-top: 5px solid white;  
    margin-left: 18rem;
    margin-right: 18rem;
  
  }
  
  .hero-description {
    font-size: 1.3rem;
    margin: 10px 0 25px 0;
    opacity: 0.9;
  }
  
  /* SECTION TITLE */
  .section-title {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 3px solid #0B4629;
    display: inline-block;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #0B4629;
  }
  .about-content {
    padding: 80px 0;
    text-align: center;
    background-color: #FFFAE9; 
  }.about-content h2 {
    font-size: 3.5rem !important;
    font-weight: 800 !important;
    color: #0B4629 !important;
    text-transform: uppercase !important;
    letter-spacing: 3px !important;
    margin-bottom: 15px !important;
  }
  
  .title-bar {
    width: 160px !important;
    height: 6px !important;
    background-color: #0B4629 !important;
    margin: 10px auto 40px auto !important;
    border-radius: 8px !important;
  }
  
  
  
  .about-content p {
    font-size: 1.2rem;
    line-height: 1.9;
    max-width: 1000px;
    margin: 0 auto 20px auto;
    color: #0B4629;
  }
  
  .about-content .divider {
    width: 120px;
    height: 5px;
    background-color: #0B4629;
    border-radius: 10px;
    margin: 20px auto 40px auto;
  }
  
  .about-content img {
    width: 100%;
    max-width: 1300px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
    margin-top: 30px;
  }
  
  /* CONTACT INFO */
  .contact-info {
    padding: 50px 0;
  }
  
  .contact-grid {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
  }
  
  .contact-box {
    background: #e6f2aa6c;
    border-left: 6px solid #0B4629;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    min-width: 250px;
  }
  .contact-box h3 {
    margin-bottom: 10px;
    color: #0B4629;
    font-weight: bold;
    border-bottom: none !important;  
    padding-bottom: 0 !important;  
  }  


  /* CONTACT FORM */
.contact-form-section {
    padding: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-form {
    width: 100%;
    max-width: 900px; 
    background: #f0f4c2c0; 
    padding: 55px;       
    border-radius: 20px;
    border: 4px solid #0B4629;
    box-shadow: 0 12px 28px rgba(0,0,0,0.12);
  }
  
  .contact-form h2 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 2.4rem;   
    color: #0B4629;
    font-weight: 800;
  }
  
  .form-group {
    margin-bottom: 25px;
  }
  
  label {
    font-weight: 700;
    color: #0B4629;
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
  }
  
  input, textarea {
    width: 100%;
    padding: 18px;
    border: 3px solid #0B4629;
    border-radius: 12px;
    background: white;
    font-size: 1.1rem;
  }
  
  textarea {
    min-height: 180px; 
    resize: vertical;
  }
  
  button {
    background-color: #0B4629;
    color: white;
    padding: 18px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: 800;
    width: 100%;
    font-size: 1.3rem;
    letter-spacing: 0.7px;
  }
  
  button:hover {
    background: white;
    color: #0B4629;
    border: 3px solid #0B4629;
    transition: 0.3s ease;
  }
  