h1 {
    color: #31694E;
    font-weight: 700;
}

hr {
    border: none;
    height: 5px;
    background-color: #31694E;
    opacity: 1;
}

.container {
    background-color: #658C5861;
    border-radius: 20px;
}

.search-box {
    width: 100%;
    max-width: 900px; 
}

.employee-card {
    max-width: 260px;
    width: 100%;
    border-radius: 12px;
    background: #ffffff;
  
}


.img-placeholder {
  width: 100%;
  height: 140px;
  background-color: #e0e0e0;
  border-radius: 10px;
  object-fit: cover;
}

.my-btn {
    background-color: #31694E;
    color: #ffffff;
}