@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* nav */
nav {
    position: sticky;
    z-index: 5;
    width: 100%;
    height: 15%;
    top: 0;
}
.gc-navbar {
  background-color: #839527; 
  padding: 2em auto;
}

.gc-logo {
  height: 30px;   
}

.gc-link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.gc-link:hover {
  color: #31694E;
}

button.navbar-toggler{
    color: #658C58;
}

span.navbar-toggler-icon {
    color: #31694E;
}

/* footer */