@import "bootstrap/dist/css/bootstrap.min.css";

/* Global styles */
body {  
    background: #FFFAE9 !important;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}
